html {
  background-color: #fff;
  font-family: open-sans, sans-serif;
}

header {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-family: Roboto, sans-serif;
  color: #001195;
}

h2 {
  color: black;
}

nav ul {
  margin: 0 auto;
  padding: 0 0 1.6em;
  overflow: hidden;
  float: right;
}

a:focus {
  outline: 3px solid black;
}

nav ul li {
  display: inline-block;
  padding-left: 1.3em;
}

.dropboxlogo {
  display: inline-block;
  width: 110px;
  float: left;
  padding-bottom: 1.6em;
  padding-top: 1.5em;
}

nav ul li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  text-align: left;
}

nav a:hover {
  color: #0378d9;
}

nav a.current {
  text-decoration: underline;
}

.try-business-cta {
  text-align: right;
}

.btn {
  background-color: black;
  border: solid;
  border-color: black;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #0378d9;
  border-color: #0378d9;
  color: #fff;
}

.btn-small {
  background-color: #98c9ec;
  border-color: #98c9ec;
  color: black;
}

.top-section {
  position: relative;
  background: linear-gradient(rgba(240, 249, 255, .6), rgba(204, 236, 255, .6)), url("../images/background-image-first-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.third-section {
  background-color: #98c9ec;
  color: #001195;
}

h3 {
  color: #001195;
}

h4 {
  color: #001195;
}

.third-section h4 {
  color: #001195;
}

.round-image {
  width: 92px;
  margin: 0 auto;
}

.fifth-section {
  background-color: #0378d9;
}

.fifth-section .button {
  background-color: #fff;
  color: black;
  border-color: #fff;
}

.fifth-section .button:hover {
  background-color: black;
  border-color: black;
  color: #fff;
}

.fifth-section h3 {
  color: #fff;
}

.fourth-section-features {
  background-color: #ebeffa;
}

footer {
  background-color: #001195;
  color: #fff;
}

.best-value-section {
  margin-top: 0;
}

.price {
  list-style-type: none;
  border: 1px solid #0378d9;
  margin: 0;
  padding: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.price:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, .2);
}

.price .header {
  background-color: white;
  color: black;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
}

.price .blue {
  background-color: #001195;
  color: #fff;
}

.price .best-value {
  padding: 5px;
  background-color: black;
  color: white;
  border-bottom: none;
}

.month {
  background-color: #001195;
  color: white;
}

a {
  text-decoration: underline;
  color: #001195;
}

a:hover {
  color: black;
}

.contact {
  color: white;
  text-decoration: none;
}

.contact:hover {
  color: white;
  text-decoration: underline;
}

.sign-up legend {
  color: black;
}

.sign-up label {
  color: black;
}

label a {
  color: black;
}

label a:hover {
  color: #001195;
}

@media only screen and (min-width: 38em) {

  .top-section {
    height: 80vh;
  }

  .columns {
    width: 100%;
  }

  .round-image {
    width: 100%;
  }

}
