html {
  background-color: #fff;
  font-family: open-sans, sans-serif;
}

header {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-family: Roboto, sans-serif;
  color: #001195;
}

h2 {
  color: #001195;
}

nav ul {
  margin: 0 auto;
  padding: 0 0 1.6em 0;
  overflow: hidden;
  float: right;
}

nav ul li {
  display: inline-block;
  padding-left: 1.3em;
}

.dropboxlogo {
  display: inline-block;
  width: 110px;
  float: left;
  padding-bottom: 1.6em;
  padding-top: 1.5em;
}

nav ul li a {
  display: inline-block;
  color: #0378D9;
  text-decoration: none;
  text-align: left;
}

nav a.current {
  text-decoration: underline;
}

.try-business-cta {
  text-align: right;
}

button {
  background-color: #0378D9;
  border-color: #0378D9;
}

button:hover {
  background-color: #001195;
  border-color: #001195;
}

.btn-small {
  font-size: .7rem;
}

.btn-big {
  font-size: 1rem;
}

.top-section {
  position: relative;
  background:
    linear-gradient(
      rgba(240, 249, 255, 0.6),
      rgba(204, 236, 255, 0.6)
      ),
    url("../images/background-image-first-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.top-section div {
  position: absolute;
  width: 100%;
  height: 50%;
  text-align: center;
  margin-top: 0 auto;
}

.third-section {
  background-color: #bbb
}

h3 {
  color: #001195;
}

h4 {
  color: #001195;
}

.third-section {
  background-color: #0378D9;
  color: #fff;
}

.third-section h4 {
  color: #fff;
}

.round-image {
  width: 92px;
  margin: 0 auto;
}

.fifth-section {
  background-color: #0378D9;
}

.fifth-section button {
  background-color: #fff;
  color: #0378D9;
  border-color: #fff;
}

.fifth-section button:hover {
  background-color: #001195;
  border-color: #001195;
  color: #fff;
}


.fifth-section h3 {
  color: #fff;
}

.fourth-section-features {
  background-color: #ebeffa;
}

<!-- Pricing -->

* {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
  margin-top: 38px;
}

.best-value-section {
  margin-top: 0;
}

.price {
  list-style-type: none;
  border: 1px solid #0378D9;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #0378D9;
  color: white;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.price .blue {
  background-color: #0378D9;
  color: #fff;
}

.button {
  background-color: #0378D9;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.button:hover {
  background-color: #001195;
}

.price .best-value {
  padding: 5px;
  background-color: #001195;
  color: white;
  border-bottom: none;
}

.month {
  background-color: #0378D9;
  color: white;
}

a {
  text-decoration: underline;
  color: #fff;
}

a:hover {
  color: #001195;
}

<!-- Learn More -->

@media only screen and (min-width: 38em) {

  .round-image {
    width: 100%;
  }

}

@media only screen and (max-width: 38em) {

  .top-section {
    height: 80vh;
  }

  .columns {
    width: 100%;
  }

}
